<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light fs-12">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook" title="Facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a></li>
               <li><a href="https://www.instagram.com/juliasobraal/" target="_blank" class="icoInstagram" title="Instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
               <li><a href="https://www.linkedin.com/in/j%C3%BAlia-sobral-369137215/" target="_blank" class="icoLinkedin" title="Linkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2021 Copyright: Júlia Sobral </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->