<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6" id="imagem-fundo"></div>

    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="col-md-10">
        <h1 class="text-center mb-4">Faça seu cadastro</h1>

        <form action="">
          <div class="row mb-4">
            <label for="">Nome</label>
            <input
              type="text"
              placeholder="Nome"
              class="form-control"
              name="nome"
              id="nome"
              [(ngModel)]="usuario.nome"
            />
          </div>

          <div class="row mb-4">
            <label for="">E-mail</label>
            <input
              type="email"
              placeholder="E-mail"
              class="form-control"
              name="usuario"
              id="usuario"
              [(ngModel)]="usuario.usuario"
            />
          </div>
          <div class="row mb-4">
            <label for="">Foto</label>
            <input
              type="email"
              placeholder="URL da foto"
              class="form-control"
              name="foto"
              id="foto"
              [(ngModel)]="usuario.foto"
            />
          </div>

          <div class="row mb-4">
            <label for="">Senha</label>
            <input
              type="password"
              placeholder="Senha"
              class="form-control"
              (input)="confirmSenha($event)"
            />
          </div>

          <div class="row mb-4">
            <label for="">Confirmar senha</label>
            <input
              type="password"
              placeholder="Confirmar senha"
              class="form-control"
              name="senha"
              id="senha"
              [(ngModel)]="usuario.senha"
            />
          </div>

          <div class="row mb-4">
            <label for="">Tipo de usuário</label>
            <select
              name="tipo"
              id="tipo"
              class="form-control"
              placeholder="Selecione o tipo de usuário"
              (change)="confirmTipo($event)"
            >
              <option value="">Selecione o tipo de usuário</option>
              <option value="admin">Administrador</option>
              <option value="padrao">Padrão</option>
            </select>
          </div>

          <div class="row d-flex justify-content-around">
            <button class="btn btn-danger w-25" routerLink="/login">
              Cancelar
            </button>
            <button class="btn btn-outline-dark w-25" (click)="cadastrar()">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>