#imagem-fundo{
    background-image: url('https://get.pxhere.com/photo/desk-table-office-furniture-tableware-product-cool-image-cool-photo-product-design-1410553.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: #151313;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    font-weight: bold;
  }